@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "aos/dist/aos.css";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #b1b8df;
}
body {
  background-color: rgb(222, 220, 220);
  font-family: "Roboto", sans-serif;
}
a.active {
  @apply rounded-full bg-primary;
}
@keyframes slide-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slide-left 0.4s ease-out;
}

.animate-slide-right {
  animation: slide-right 0.4s ease-out;
}
